<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control"/>
            </div>
            <div>
                <button class="btn btn-primary">{{loginMode?'Login':'Sign Up'}}</button> |
                <button class="btn btn-primary" (click)="onSwitch()">Switch to {{loginMode?'Sign Up':'Login'}}</button>
            </div>
        </form>
    </div>
</div>